body
{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color:rgb(72, 255, 0);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.CONTENEDORGENERAL
{
 width: 1379px;
 height: 758px;
 background-color: white;
 margin-top: 35px;
 margin-left: 35px;

}
.FIORELLA
{
 width: 1373px;
 height: 377px;
 background-color: transparent;
 border-color: white;
 border-width: 2px;
 border-style: solid;
}

.name
{
 width: 900px;
 height: 377px;
 background-color: white;
 margin: 0px;
 float: left;
}
.bolitas
{
 width: 473px;
 height: 377px;
 background-color: white;
 margin: 0px;
 float: left;
}

.D123
{
  width: 585px;
  height: 378px;
  background-color:white;
  float: left;
  border-color:black;
 border-width: 2px;
 border-style: solid;
 }
.design
{
  width: 585px;
  height: 127px;
  background-color:white;
  margin: 0px;
  float: left;
  
  border-bottom-color:black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  }

 .uno
 {
   width: 193px;
   height: 249px;
   background-color: white;
   margin-left: 0px;
   float: left;
     
   }
 .dos
  {
    width: 193px;
    height: 249px;
    background-color: white;
    float: left;
      
    border-left-color:black;
    border-left-style: solid;
    border-left-width: 2px;

    border-right-color:black;
    border-right-style: solid;
    border-right-width: 2px;
  }

  .tres
  {
    width: 193px;
    height: 249px;
    background-color: white;
    float: left;
   
  }

  .FABACADEMY
  {
    width: 394px;
    height: 378px;
    background-color:white;
    float: left;
    
    border-right-color:black;
    border-right-style: solid;
    border-right-width: 2px;

    border-top-color:black;
    border-top-style: solid;
    border-top-width: 2px;

    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 2px;

   }

   .FAB
  {
    width: 394px;
    height: 249px;
    background-color: white;
    margin-top: 0px;
    float: left;

    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
   }
   .F1
   {
     width: 394px;
     height: 127px;
     background-color: white;
     float: left;
    }

    .RANDOM
  {
    width: 193px;
    height: 381px;
    background-color:white;
    float: left;
       }

   .x2
   {
     width: 193px;
     height: 123px;
     background-color: white;
     float: left;

     border-top-color:black;
     border-top-style: solid;
     border-top-width: 2px;

     border-bottom-color:black;
     border-bottom-style: solid;
     border-bottom-width: 2px;
    }

    .x3
   {
     width: 193px;
     height: 124px;
     background-color:black;
     float: left;

     border-bottom-color:black;
     border-bottom-style: solid;
     border-bottom-width: 2px;
    }
    .x4
    {
      width: 193px;
      height: 127px;
      background-color: white;
      float: left;

      border-bottom-color:black;
      border-bottom-style: solid;
      border-bottom-width: 2px;
     }

     
     .seminars
     {
      width: 197px;
      height: 378px;
      background-color: white;
      float: left;

      border-color:black;
      border-width: 2px;
      border-style: solid;
         }

        
    p{
         font-size: 65px;
         font-family:Helvetica;
         margin-top: 0px;
         width: 200px;
    }

    h1 {
      font-size: 144px;
      font-family: Helvetica;
      color: grey
    }

    h2 {
      font-size: 40px;
      font-family: Helvetica;
    }

    h3 {
      font-size: 100px;
      font-family: Helvetica;
    }

    h4 {
      font-size: 50px;
      font-family: Helvetica;
    }

    h5 {
      font-size: 110px;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 0px;
    }

  
.term1{
      margin:right;
      width: 400px;
      font-family: helvetica;
  }

ul,ol{
list-style:none;
padding: 0px;
}

.nav li a{
 background-color: rgb(187, 187, 187);
 text-decoration: none;

}

.nav li a:hover{
  background-color: rgb(226, 221, 221);
}